* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

.p5 {
    padding: 5px;
}

.m4 {
    margin-top: 4px;
    margin-left: 2px;
    margin-right: 2px;
}

.sidepane {
    height: 100%;
    background: #E8E8EA;
}

.sidepane .form {
    height: 80px;
    margin: 10px 0;
}

.sidepane .assets {
    width: 100%;
    display: inline-block;
}

#assetText {
    font-size: 24px;
}

.assets .text,
.assets .image {
    margin: 10px 0;
}

.assets .image ul li {
    width: 50px;
    height: 50px;
    margin-right: 5px;
    float: left;
    overflow: hidden;
}

.assets .image ul li img {
    width: 100%;
    height: 100%;
}

canv .block {
    position: relative;
    width: 100%;
    min-height: 600px;
    margin: 10px;
    border: 1px solid;
    box-shadow: 0px 0px 5px black;
}

.item {
    border: 1px solid transparent;
    position: absolute;
}

.item.selected {
    border-color: blue;
}

.openfile-group {
    position: relative;
}

.openfile-group #preload-icon {
    background: url('gif-load.gif') no-repeat center center;
    width: 31px;
    height: 31px;
    display: block;
    float: right;
    margin-right: 50px;
}

.openfile-group input {
    opacity: 0;
    position: absolute;
    width: 100%;
    max-width: 112px;
    z-index: 111;
    cursor: pointer!important;
    padding: 5px;
}

.openfile-group button {
    position: relative;
    cursor: none!important;
}

.canvas-image-item a,
.canvas-text-item a {
    margin-bottom: 0px;
    cursor: move!important;
}

li.dndPlaceholder {}

.canvas-image-item,
.canvas-text-item {
    cursor: move;
}

.canvas-image-item.dndDragging,
.canvas-text-item.dndDragging {
    border: 1px solid rgba(0, 0, 0, 0.3)!important;
}