<div class="row">
    <div class="sidepane col-sm-2 col-md-2 col-lg-2">
        <form-upload></form-upload>

        <hr>
        <div class="assets">
            <h3>Assets</h3>
            <div class="text">
                <h4>Text</h4>

                <div class="input-group">
                    <input ng-model="main.addText" type="text" class="form-control" aria-label="...">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-mousedown="main.addToText()">Add</button>
                    </div>
                    <!-- /btn-group -->
                </div>
                <!-- /input-group -->
            </div>
            <div class="image">
                <h4>Images</h4>

                <ul class="list-unstyled">
                    <li ng-repeat="image in images track by $index" class="image-item-box" ng-init="img.m=0;img.r=0 " ng-mouseover="img.m=1" ng-mouseleave="img.m=0">
                        <a href="#" class="thumbnail" ng-click="img.r = main.addToImage(image);">
                            <span class="add" ng-show='img.m==1 && img.r==0'></span>
                            <span class="remove" ng-show='img.r==1 && img.m==1' ng-click="main.removeImage($index)"></span>
                            <img ng-src="{{image}}" class="img-rounded">
                        </a>
                    </li>

                </ul>


            </div>
        </div>

    </div>

    <!-- canvas -->
    <canv mydata='user' class="col-sm-10 col-md-10 col-lg-10 block"></canv>
</div>